[Desktop Entry]
Name=Minetest (Unstable)
GenericName=Minetest
Comment=Multiplayer infinite-world block sandbox
Exec=minetest-dev-luk3yx
Icon=${SNAP}/meta/gui/minetest.png
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
