[Desktop Entry]
Name=Minetest 0.4
GenericName=Minetest
Comment=Multiplayer infinite-world block sandbox
Exec=minetest-luk3yx-4
Icon=${SNAP}/meta/gui/minetest.svg
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;
